.movie--detail {
  margin: 30px auto;
  box-shadow: 0 0 10px #C0C0C0;
  font-size: 22px;
  line-height: 28px;
}

.movie--detail.selected {
  background-color: #FFFFE5;
}

.movie--detail--favorite a {
  font-size: 48px;
}
