:host {
  font-size: 28px;
  position: relative;
  background: #455A64 url("./assets/reel.png") no-repeat left top;
  background-size: contain;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 75px;
  padding: 0 16px;
}

.toolbar--aux {
  font-size: 22px;
}

.toolbar--aux a {
  text-decoration: none;
  color: white;
}
